{% extends 'usuarios/perfil.html' %}
{% load crispy_forms_tags %}



{% block content %}

<br>

<div class="row">
    <div class="col-xs-12">
        <div class="w3-card-4 w3-margin" style="background-color: rgba(23, 55, 83, 0.9); color: white;">
            <div class="w3-container">
                <br>
                <h1 style="text-align: center;">
                    Mantén tud datos siempre actualizados
                </h1>
            </div>
            <hr>
        </div>
    </div>
</div>

<hr>

<div class="container mt-5">
    <div class="row">
        <div class="col-xs-12 col-md-3"></div>

        <div class="col-xs-12 col-md-6">

            <div class="w3-card-4 w3-padding w3-margin w3-round-medium" style="background-color: rgba(23, 55, 83, 0.9); color:  white;">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset>
                        {{ datos_form|crispy }}
                        &nbsp;
                        {{ foto_form|crispy }}
                        &nbsp;
                        {{ aboutme_form|crispy }}

                    </fieldset>
                    <button id="actu" type="submit" value="save" class="btn btn-primary d-block mx-auto mt-2">
                        Actualizar
                    </button>

                </form>
            </div>
        </div>

        <div class="col-xs-12 col-md-3"></div>
    </div>
</div>

{% endblock content %}