{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<br>

<div class="row">
    <div class="col-xs-12">
        <div class="w3-card-4 w3-margin" style="background-color: rgba(23, 55, 83, 0.9); color: white;">
            <div class="w3-container">
                <br>
                <h1 style="text-align: center;">
                    Cerraste tu sesión correctamente
                </h1>
            </div>
            <hr>
        </div>
    </div>
</div>

<div class="row">
    <div class="d-block mx-auto">
        <div class="w3-container">
            <br>
            <img src="{% static 'images/logout.jpg' %}" alt="Nature" style="width:50%" class="d-block mx-auto">
        </div>
    </div>
</div>

<br>
<div class="row">
    <div class="container">

        <div class="col-xs-12">

            <div class="w3-card-4" style="background-color: rgba(23, 55, 83, 0.9); color: white;">
                <div style="text-align: center;">
                    <p>¿Tuviste algún problema o tienes alguna duda?, puedes contactarnos haciendo click <a
                            href="{% url 'contacto' %}" style="text-decoration: none;">aquí</a>
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-xs-12">
        <div class="w3-card-4 w3-margin">
            <div style="text-align: center;">
                <h1 style="font-size: 3rem; color: white;"><b>Recuerda que siempre serás bienvenido</b></h1>
                <p><a href="{% url 'login' %}" style="text-decoration: none;">¿Deseas iniciar sesión de nuevo?</a></p>
            </div>
            <hr>
        </div>
    </div>
</div>


{% endblock content %}