{% extends 'usuarios/login.html' %}
{% load crispy_forms_tags %}


{% block formulario %}
<div class="w3-card-4 w3-margin" style="background-color: rgba(23, 55, 83, 0.9); color: white;">
    <div class="w3-container">
        <br>
        <form method="POST">
            <p style="text-align: center;">Confirma tu correo y te mandaremos para reestrablecer tu contraseña.</p>
            {% csrf_token %}
            <fieldset>
                {{ form|crispy }}
            </fieldset>
            
            </p>
            <button  class="btn btn-success mt-3 d-block mx-auto">
                Ingresar
            </button>
        </form>
    </div>
    <hr>
</div>
<br>
{% endblock formulario %}