{% extends 'usuarios/login.html' %}
{% load crispy_forms_tags %}

{% block formulario %}
<div class="w3-card-4 w3-margin" style="background-color: rgba(23, 55, 83, 0.9); color: white;" >
    <div class="w3-container">
        <br>
        <form method="POST">
        {% csrf_token %}
           <fieldset style="color: white;">
               {{ form|crispy }}
           </fieldset>

           <button type="submit" class="btn btn-primary mt-2">
           Reestablecer contraseña
           </button>
       </form>  
    </div>
    <hr>
</div>
{% endblock formulario %}