{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<br>
<div class="row">
    <div class="col-xs-12">
        <div class="w3-card-4 w3-margin" style="background-color: rgba(23, 55, 83, 0.9); color: white;">
            <div class="w3-container">
                <br>
                <h1 style="text-align: center;">
                    Bienvenido a un mundo de ideas
                </h1>
            </div>
            <hr>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="w3-card-4 w3-padding w3-margin-top" style="background-color: rgba(23, 55, 83, 0.9); color: white;">
                <h3>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio ipsum, fuga ullam suscipit quisquam libero eius veniam tempore sunt qui.
                </h3>
                <br>
                <div class="w3-panel" style="background-color: rgba(31, 95, 151, 0.7);">
                    <p class="w3-xlarge w3-serif"><i>"Nosotros, los mortales, logramos la inmortalidad en las cosas que creamos en común y que quedan después de nosotros."</i></p>
                    <p> Bill Jobs, CEO de Google</p>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    <fieldset>
                        {{ form|crispy }}
                    </fieldset>
                    <button type="submit" class="btn btn-success d-block mx-auto mt-3">
                        Registrarme
                    </button>
                </form>
            </div>
            
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="w3-card-4 w3-margin" style="background-color: rgba(23, 55, 83, 0.9); color: white;">
                <div class="w3-container">
                    <br>
                    <img src="{% static 'images/foto4.jpg' %}" alt="Nature" style="width:100%">
                </div>
                <hr>
            </div>
        </div>
    </div>

</div>
{% endblock content %}