{% extends 'usuarios/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <img src="{{ user.perfilmodel.imagen.url }}">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset>
                    {{ form|crispy }}
                </fieldset>
                <button type="submit">
                    Enviar
                </button>
            </form>
        </div>
        <div class="col-xs-12 col-md-6">
            <p><a href="{% url 'logout' %}">Cerrar sesión|</a></p>
        </div>
    </div>
</div>
{% endblock content %}