{% extends 'usuarios/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <form method="POST">
                {% csrf_token %}
                <fieldset>
                    {{ d_form|crispy }}
                </fieldset>
                <button type="submit">
                    Enviar
                </button>            
            </form>
        </div>
    </div>
</div>
{% endblock content %}