body {
    background-color: aquamarine;
}

.titulos {
    flex: 100%;
    text-align: center;
}

.cubito {
    border-collapse: collapse;
    border: 1px solid;
}

.columnas {
    display: flex;
}

.primera_columna {
    flex: 33%;
}

.segunda_columna {
    flex: 33%;
}

.tercera_columna {
    flex: 33;
}

@media (max-width: 600px) {
    .columnas {
        flex-direction: column;
    }
}