* {
    box-sizing: border-box;
}

body {
    background-color: aquamarine;
}

p {
    text-align: justify;
    font-size: 2rem;
}

.titulos {
    flex: 100%;
    text-align: center;
}

.imagenes {
    flex: 100%;
}

.cuerpo {
    flex: 100%;
}

.cubito {
    border-collapse: collapse;
    border: 1px solid;
}

.columnas {
    display: flex;
}

.primera_columna {
    flex: 33%;
}

.segunda_columna {
    flex: 33%;
}

.tercera_columna {
    flex: 33;
}

@keyframes body {

}

@media (max-width: 600px) {
    .columnas {
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    .columnas {
        flex-direction: column;
    }
}

