.cosito{
    padding: 10px;
    border-collapse: collapse;
    border: 1px solid black;
}


.titulo1{
    background-color: #5d80ce;
    border-collapse: collapse;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 1px 5px 5px gray;
}

h1{
    text-align: center;
    color: black;
}

#comments{
    border-collapse: collapse;
    border: 1px solid black;
}