body > div{
    background-color: #f2f2f2;
}

.titul{
    background-color: #5d80ce;
    border-collapse: collapse;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 1px 5px 5px gray;
}

.cosito{
    background-color: #8fa8df;
}

h1{
    text-align: center;
    color: black;
}