{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<br>

<div class="container">

    <div class="row">

        <div class="col-xs-12 col-md-6">
            <br>
            <div class="w3-card-4 w3-margin w3-white">
                <img src="{{ obj.image.url }}" alt="{{ obj.image }}" style="width:100%">
            </div>

        </div>

        <div class="col-xs-12 col-md-6">

            <div class="w3-card-4 w3-margin w3-padding" style="background-color: rgba(23, 55, 83, 0.9); color: white;">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset>
                        {{ f_form|crispy }}
                    </fieldset>
                    <div class="mt-3">
                        <button type="submit" class="btn btn-success d-block mx-auto">
                                Actualizar
                            </a>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}