{% extends 'blog/detail.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block comments %}

<!-- Sección de publicar comentario en cada artículo -->
<div class="container">

    <div class="row">

        <div class="col-xs-12 col-md-8">
            <div class="w3-card-2 w3-padding mt-2 mb-2" style="background-color: rgba(23, 55, 83, 0.2);">
                <div class="w3-padding mb-3" style="background-color: rgba(23, 55, 83, 0.4); color: white;">
                    <p style="text-align: center;" class="mt-2">
                    Nuevo comentario
                    </p>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    <fieldset>
                        {{ comentario_form|crispy }}
                    </fieldset>
                    <button type="submit" class="btn btn-primary mt-3">
                        Publicar
                    </button>
                </form>
                
            </div>

        </div>
        <div class="col-xs-12 col-md-4">
            <img class="rounded mt-2 mb-2 d-block mx-auto" src="{% static 'images/comentarios.jpg' %}" alt="portada"
                style="width: 400px;">
        </div>

    </div>
    <br>
</div>
<!-- Fin sección -->

{% endblock comments %}