{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

<header class="w3-container w3-center w3-padding-32">
    <h1 style="color: white;"><b>MY BLOG</b></h1>
    <p style="color: white;">Bienvenidos al blog de lo <span class="w3-tag">desconocido</span></p>
</header>

<!-- Grid -->
<div class="w3-row">

    <!-- Artículos -->
    <div class="w3-col l8 s12">

        <!-- Si existen artículos -->

        {% for i in obj_list %}
        <div class="w3-card-4 w3-margin w3-round-medium" style="background-color: rgba(23, 55, 83, 0.9); color: white;">
            <div class="w3-white">
                <img src="{{ i.image.url }}" alt="Nature" style="width: 640px; height: 480px ;width:100%">
            </div>
            <div class="w3-container mt-1">
                <h3><b>{{ i.title }}</b></h3>
                <h4>Autor: {{ i.user }}</h4>
                {% if i.category.all.first == None %}
                <h5>Sin categoría <span class="w3-opacity"> | {{ i.created_at|date }}</span></h5>
                {% else %}
                <h5>{{ i.category.all.first }} <span class="w3-opacity"> | {{ i.created_at|date }}</span></h5>
                {% endif %}

            </div>

            <div class="w3-container">
                <p>{{ i.content|truncatechars:150 }}</p>
                <div class="w3-row">
                    <div class="w3-col m8 s12">
                        <p>
                            <button class="w3-button w3-padding-large w3-white w3-border">
                                <a href="{% url 'detalle' id=i.id %}" style="text-decoration: none;">
                                    <b>Ver Artículo completo »</b>
                                </a>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <hr>

        <!-- Si no existen artículos -->
        {% empty %}
            <div class="w3-card-4 w3-margin w3-round-medium"
                style="background-color: rgba(23, 55, 83, 0.9); color: white;">
                <div class="w3-container mt-1">
                    <h1 class="w3-center">
                        No hay artículos
                    </h1>
                    {% if user.is_authenticated %}
                    <p class="w3-center">Ve a tu perfil y selecciona "nuevo artículo"</p>
                    <h2 class="w3-center">Sé el primero en este emocionante viaje</h2>
                    {% else %}
                    <p class="w3-center">Inicia sesión, ve a tu perfil y selecciona "nuevo artículo"</p>
                    <h2 class="w3-center">Sé el primero en este emocionante viaje</h2>
                    {% endif %}
                    
                </div>
            </div>
            <hr>
        {% endfor %}
    </div>
        

        <!-- Inicio Sobre mi blog -->
        <div class="w3-col l4">
            <div class="w3-card w3-margin w3-margin-top">
                <div class="w3-container" style="background-color: rgba(23, 55, 83, 0.9); color: white">
                    <br>
                    <h4><b>¿Por qué mi blog?</b></h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum reprehenderit eos nihil.
                        Temporibus
                        nesciunt optio velit vero nisi? Quo, alias?.</p>
                </div>
            </div>
            <hr>
            <!-- Fin sobre mí -->

            <!-- Inicio Comentarios -->
            <div class="w3-card w3-margin" style="background-color: rgba(23, 55, 83, 0.9); color: white;">
                <div class="w3-container w3-padding">
                    <h4 style="color: white;">Comentarios recientes</h4>
                </div>

                {% for s in com_list reversed %}

                <!-- Si hay más de 6 comentarios -->
                {% if forloop.counter > 6 %}

                <!-- Nada -->

                <!-- Si no -->
                {% else %}

                <ul class="w3-ul w3-hover-indigo with w3-hover-opacity" style="background-color: rgb(50, 78, 103);">

                    <li class="w3-padding-16">
                        <a href="{% url 'detalle' id=s.articulo.id %}">
                            <img src="{{ s.articulo.image.url }}" alt="Image" class="w3-left w3-margin-right"
                                style="width:50px">
                        </a>

                        <span class="w3-large">
                            <a href="{% url 'detalle' id=s.articulo.id %}" style="text-decoration: none; color: white;">
                                <strong>{{ s.articulo.title }}</strong>
                            </a>
                        </span>
                        <br>
                        <span>{{ s.name }}: {{ s.body|truncatechars:20 }}

                        </span>

                    </li>

                </ul>

                {% endif %}

                <!-- Si no existen comentarios -->
                {% empty %}
                <div class="w3-center p-1">
                    No hay Comentarios
                </div>
                {% endfor %}
            </div>
            <!-- Fin de comentarios -->
            <hr>

            <!-- Inicio categorías -->
            <div class="w3-card w3-margin" style="background-color: rgba(23, 55, 83, 0.9); color: white;">
                <div class="w3-container w3-padding">
                    <h4 style="color: white;">Categorías</h4>
                </div>
                <div class="w3-container">
                    <p>
                        <!-- Mostrar todas las categorías -->
                        {% for i in cat_list %}
                        <span class="w3-tag w3-margin w3-padding w3-hover-indigo with w3-hover-opacity"
                            style="background-color: rgb(50, 78, 103);">
                            <a href="{% url 'categorias' id=i.id %}" style="text-decoration: none; color: white;">
                                {{ i.title }}
                            </a>
                        </span>


                        <!-- Si no existen -->
                        {% empty %}

                        <span class="w3-tag w3-margin w3-padding w3-center"
                            style="background-color: rgb(50, 78, 103); color: white;">
                            No hay categorías
                        </span>

                        {% endfor %}
                    </p>
                </div>
            </div>

            <!-- Fin categorías -->
        </div>

    </div>
    <!-- Fin artículos -->
    <br>

    <!-- Paginador -->
    <footer class="w3-container w3-padding-32 w3-margin-top w3-center" style="background-color: rgba(23, 55, 83, 0.9);">

        {% if obj_list.has_previous %}
        <button class="w3-button w3-black w3-padding-large w3-margin-bottom">
            <a href="?page=1" style="text-decoration: none; color: white;">
                Inicio
            </a>
        </button>
        <button class="w3-button w3-black w3-padding-large w3-margin-bottom">
            <a href="?page={{ obj_list.previous_page_number }}" style="text-decoration: none; color: white;">
                Anterior
            </a>
        </button>
        {% else %}
        <button class="w3-button w3-black w3-disabled w3-padding-large w3-margin-bottom">Inicio</button>
        {% endif %}

        {% for i in obj_list.paginator.page_range %}
        {% if obj_list.number == i %}
        <button class="w3-button w3-black w3-padding-large w3-margin-bottom" style="text-decoration: none;color:white">
            <b>
                {{ i }}
            </b>
        </button>
        {% elif i > obj_list.number|add:'-3' and i < obj_list.number|add:'3' %} <button
            class="w3-button w3-black w3-padding-large w3-margin-bottom">
            <a href="?page={{i}}" style="text-decoration: none; color: white;">
                {{ i }}
            </a>
            </button>
            {% endif %}
            {% endfor %}

            {% if obj_list.has_next %}
            <button class="w3-button w3-black w3-padding-large w3-margin-bottom">
                <a href="?page={{ obj_list.next_page_number }}" style="text-decoration: none; color: white;">
                    Siguiente
                </a>
            </button>
            <button class="w3-button w3-black w3-padding-large w3-margin-bottom">
                <a href="?page={{ obj_list.paginator.num_pages }}" style="text-decoration: none; color: white;">
                    Última
                </a>
            </button>
            {% else %}
            <button class="w3-button w3-black w3-disabled w3-padding-large w3-margin-bottom">Siguiente</button>
            <button class="w3-button w3-black w3-disabled w3-padding-large w3-margin-bottom">Última</button>
            {% endif %}


    </footer>

    <!-- Fin paginador -->

    {% endblock content %}


    <!--  Referncia de paginador

        {{ obj.number }} #Current page number
        {{ obj.has_previous }} #True if the current page object has a previous page
        {{ obj.has_next }} #True if the current page object has a next page

        {{ obj.paginator }} #Paginator object
        {{ obj.paginator.count}} #Total number of objects
        {{ obj.paginator.num_pages }} #Total number of pages
        {{ obj.paginator.page_range }} #Iterator of the pages
    -->