{% extends 'blog/base.html' %}

{% block content %}
<br>
<div class="row">
    <div class="col-xs-12">
        <div class="w3-card-4 w3-margin" style="background-color: rgba(23, 55, 83, 0.9); color: white;">
            <div class="w3-container">
                <br>
                <h1 style="text-align: center;">
                    {{ obj_category.first }}
                </h1>
            </div>
            <hr>
        </div>
    </div>
</div>

<div class="w3-row">

    <!-- Blog entries -->
    <div class="w3-col l8 s12">
        <!-- Blog entry -->
        {% for j in obj %}

        <div class="w3-card-4 w3-margin" style="background-color: rgba(23, 55, 83, 0.9); color: white;">
            <div class="w3-white">
                <img src="{{ j.image.url }}" alt="Nature" style="width:100%">
            </div>
            <div class="w3-container">
                <h3><b>{{ j.title }}</b></h3>
                <h4>Autor: {{ j.user }}</h4>
                <h5>{{ i }} <span class="w3-opacity">{{ j.created_at|date }}</span></h5>
            </div>

            <div class="w3-container">
                <p>{{ j.content|truncatechars:150 }}</p>
                <div class="w3-row">
                    <div class="w3-col m8 s12">
                        <p>
                            <button class="w3-button w3-padding-large w3-white w3-border">
                                <a href="{% url 'detalle' id=j.id %}" style="text-decoration: none;">
                                    <b>Ver Artículo completo »</b>
                                </a>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        {% empty %}
        <div class="w3-card-4 w3-margin" style="background-color: rgba(23, 55, 83, 0.9); color: white;">
            <div class="w3-container">
                <h3 class="w3-center"><b>Todavía no hay ningún artículo publicado en esta categoría</b></h3>
                <h3 class="w3-center">Sé el primero en crear una crear uno</h3>
                {% if user.is_authenticated %}
                <h3 class="w3-center">
                    <a href="{% url 'nuevo' %}" style="text-decoration: none;">
                        Nuevo
                    </a>
                </h3>

                {% else %}
                <h3 class="w3-center"><span class="w3-opacity">
                        <a href="{% url 'login' %}" style="text-decoration: none">
                            Login
                        </a>
                    </span>
                </h3>
                {% endif %}
            </div>
        </div>
            {% endfor %}
    </div>


    <!-- Introduction menu -->
    <div class="w3-col l4">
        <!-- About Card -->
        <div class="w3-card w3-margin w3-margin-top">
            <!--<img src="/w3images/avatar_g.jpg" style="width:100%"-->
            <div class="w3-container" style="background-color: rgba(23, 55, 83, 0.9); color: white">
                <br>
                <h4><b>¿Por qué mi blog?</b></h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum reprehenderit eos nihil.
                    Temporibus
                    nesciunt optio velit vero nisi? Quo, alias?.</p>
            </div>
        </div>
        <hr>

        <!-- Posts -->
    
    </div>
</div>



{% if obj %}
<footer class="w3-container w3-padding-32 w3-margin-top w3-center" style="background-color: rgba(23, 55, 83, 0.9); color: white;">
        
        {% if obj.has_previous %}
        <button class="w3-button w3-black w3-padding-large w3-margin-bottom">
            <a href="?page=1" style="text-decoration: none; color: white;">
                Inicio
            </a>
        </button>
        <button class="w3-button w3-black w3-padding-large w3-margin-bottom">
            <a href="?page={{ obj.previous_page_number }}" style="text-decoration: none; color: white;">
                Anterior
            </a>
        </button>
        {% else %}
        <button class="w3-button w3-black w3-disabled w3-padding-large w3-margin-bottom">Inicio</button>
        {% endif %}
        
        {% for i in obj.paginator.page_range %}
        {% if obj.number == i %}
        <button class="w3-button w3-black w3-padding-large w3-margin-bottom" style="text-decoration: none;color:white">
            <b>
                {{ i }}
            </b>
        </button>
        {% elif i > obj.number|add:'-3' and i < obj.number|add:'3' %} 
        <button class="w3-button w3-black w3-padding-large w3-margin-bottom">
            <a href="?page={{i}}" style="text-decoration: none; color: white;">
                {{ i }}
            </a>
        </button>
        {% endif %}
        {% endfor %}
        
        {% if obj.has_next %}
        <button class="w3-button w3-black w3-padding-large w3-margin-bottom">
            <a href="?page={{ obj.next_page_number }}" style="text-decoration: none; color: white;">
                Siguiente
            </a>
        </button>
        <button class="w3-button w3-black w3-padding-large w3-margin-bottom">
            <a href="?page={{ obj.paginator.num_pages }}" style="text-decoration: none; color: white;">
                Última
            </a>
        </button>
        {% else %}
        <button class="w3-button w3-black w3-disabled w3-padding-large w3-margin-bottom">Siguiente</button>
        <button class="w3-button w3-black w3-disabled w3-padding-large w3-margin-bottom">Última</button>
        {% endif %}
        
        
        
    </footer>
    {% else %}
    <!-- Nada -->
    {% endif %}
    
    

{% endblock content %}